.profile {
    padding: 20px;
    display: flex;
}

.description {
    width: 450px;
    height: auto;
}

.avatar {
    display: block;
    width: 170px;
}

.name {
    font-size: 45px;
    color: rgb(25, 25, 25);
    font-weight: 600;
    margin: 0;
    padding: 8px;
}

.tag {
    font-size: 35px;
    font-weight: 400;
    color: rgb(25, 25, 25);
    margin: 0;
    padding: 8px;
}

.location {
    font-size: 35px;
    font-weight: 400;

    margin: 0;
    padding: 8px;
}

.stats {
    display: flex;
    list-style: none;
    font-size: 30px;
    padding: 8px;
    margin-top: 188px;
}

.item {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 30px;
    font-weight: 500;
    margin-right: 30px;
    text-align: center;
}

.quontity {
    font-size: 30px;
    font-weight: 400;
    color: chocolate;
    text-align: center;
}