.statusOnline {
    width: 3%;
    height: 40px;
    margin-top: 0;
    padding: 4px 6px;
    font: 28px "Marker Felt", "Zapfino", cursive;
    display: flex;
    border-radius: 50%;

    float: left;
    background-color: green;

}

.inline {
    width: 3%;
    height: 40px;
    margin: 0;
    padding: 4px 6px;
    font: 28px "Marker Felt", "Zapfino", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    float: left;
    background-color: crimson;

}

.itemFriend {
    display: flex;
    align-items: center;
    padding: 16px 0 16px;
    font-weight: 500;
    color: #0e0d0d;
    font-size: 30px;
    margin-right: 20px;
}


.avatar {
    display: block;
    margin-right: 20px;
    margin-left: 20px;
    width: 8%;
}