.friendsSections {
    width: 1200px;
    margin-top: 20px;

}

.friendList {
    padding: 15px;
    list-style: none;
}

.itemFriend {
    display: flex;
    padding: 16px 0 16px;
    font-weight: 500;
    color: #0e0d0d;
    font-size: 30px;
    margin-right: 20px;
}

.statusOnline {
    width: 5%;
    height: 50px;
    margin: 0;
    padding: 4px 6px;
    font: 28px "Marker Felt", "Zapfino", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    float: left;
    background-color: green;

}

.inline {
    width: 5%;
    height: 50px;
    margin: 0;
    padding: 4px 6px;
    font: 28px "Marker Felt", "Zapfino", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    float: left;
    background-color: crimson;

}

.avatar {
    display: block;
    margin-right: 20px;
    margin-left: 20px;
    width: 10%;
}