.sections {
    padding: 30px;
    margin-bottom: 24px;
    /* text-align: center; */

    border-radius: 4px;
}

.title {
    margin: 0;
    padding: 8px;
    font-size: 45px;
    font-weight: 600;
    color: rgb(25, 25, 25);
}

.list {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 110px;
    padding: 16px 0 16px;
    font-weight: 500;
    color: rgb(47, 47, 47);
    font-size: 30px;
    margin-right: 20px;

}