.sections {
    padding: 20px;
    margin-bottom: 24px;
    /* text-align: center; */

    border-radius: 4px;
}

.title {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 40px;
    color: blue;
}

.list {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;
}



.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 110px;
    padding: 16px 0 16px;
    font-weight: 500;
    color: #0e0d0d;
    background-color: rgb(129, 151, 151);
    font-size: 30px;
    margin-right: 20px;

}